extends layout

block scripts
	script(src='/javascripts/jquery.validate.min.js')
	script(src='/javascripts/bootstrap-tagmanager2.js')
	script(src='/javascripts/newpostscript.js')

block stylesheet
	link(rel='stylesheet', href='/stylesheets/postview.css')
	//link(rel='stylesheet', href='/stylesheets/bootstrap-tagmanager.css')

block content
	include navbar
	.container
		form.newpost(method='post',id='postform',enctype='multipart/form-data')
			fieldset
				legend 基本信息
				.floatLeft
					div
						label(for='title') 标题
							em.star *
						input(type='text',name='title',id='title')
					div
						label(for='tags') 标签(Tags)
							em.star *
						input.short(type='text',name='tags',id='tags')
					div
						label(for='price') 价格
						input(type='text',name='price',id='price')
					div
						label(for='email') Email
							em.star *
						-if (typeof(user)!='undefined')
							input(type='text',name='email',id='email',value=user.email,readonly='')
						-else
							input(type='text',name='email',id='email')
					div
						label(for='cellnum') 手机
						-if (typeof(user)!='undefined'&&user.cellnum)
							input(type='text',name='cellnum',id='cellnum',value=user.cellnum,readonly='')
						-else
							input(type='text',name='cellnum',id='cellnum')
					div
						label(for='zipcode') Zip Code
							em.star *
						input(type='text',name='zipcode',id='zipcode')
					div
						label(for='address') 地址
						input(type='text',name='address',id='address')
				.tagBox
					a.tag(href='javascript:void(0)') #交易,买卖
					a.tag(href='javascript:void(0)') #汽车,车
					a.tag(href='javascript:void(0)') #家具
					a.tag(href='javascript:void(0)') #电子产品
					a.tag(href='javascript:void(0)') #书,书籍
					a.tag(href='javascript:void(0)') #教材
					a.tag(href='javascript:void(0)') #玩具
					a.tag(href='javascript:void(0)') #化妆品
					hr
					a.tag(href='javascript:void(0)') #租
					a.tag(href='javascript:void(0)') #出租
					a.tag(href='javascript:void(0)') #求租
					a.tag(href='javascript:void(0)') #短租
					a.tag(href='javascript:void(0)') #租房
					hr
					a.tag(href='javascript:void(0)') #出行
					a.tag(href='javascript:void(0)') #拼车
					a.tag(href='javascript:void(0)') #旅游
					a.tag(href='javascript:void(0)') #度假
					hr
					a.tag(href='javascript:void(0)') #活动
					a.tag(href='javascript:void(0)') #聚会
					a.tag(href='javascript:void(0)') #联谊
					a.tag(href='javascript:void(0)') #新生
					a.tag(href='javascript:void(0)') #演出
					a.tag(href='javascript:void(0)') #演唱会
					hr
					| 添加符合的常用标签能让大家更容易发现你的帖子
			fieldset
				legend 内容
				textarea(rows='10',cols='50',name='content',id='content')
				#imgctl
					label(for='upImg') 图片
					input(type='file',name='img',id='upImg',accept='image/*',multiple="")
					a.tagBox#resetimg(href='javascript:;') 重置图片
					a.tagBox#post(href='javascript:;') 提交
					input.tmeta(type='hidden',name='thumb',id='ithumb')
					input.tmeta(type='hidden',name='theight',id='itheight')
					input.imeta(type='hidden',name='imdata',id='idata')
					input.imeta(type='hidden',name='ctype',id='ictype')
					input.imeta(type='hidden',name='imgheight',id='iheight')
				canvas#imgpre(height=0,width=530)
			input(type='submit',name='post',value='提交')
	.prompt
		| 敲回车,Tab,逗号来分隔标签
	-if (editing){
		.meta.hidden
			#mediting #{editing}
			#mtitle #{item.title}
			#mtags #{item.tags}
			#mprice #{item.price}
			#memail #{item.email}
			#mcellnum #{item.cellnum}
			#mzipcode #{item.zip}
			#maddress #{item.address}
			#mcontent #{item.content}
			-if (item.hasimg)
				#mimg /getimg/#{item._id}
		-}
