-for(var i=0;i<items.length;i++)
	- var item = items[i]
	- var date = item.date
	.item(id=item._id)
		| #{date.getMonth()+1+"/"+date.getDate()+"/"+date.getFullYear()} - $#{item.price} - 
		a(href='/post/#{item._id}') #{item.title}
		span
			-for(var j=0;j<item.tags.length;j++)
				|  | 
				a.tag(href='/tag/#{item.tags[j]}') ##{item.tags[j]}
		.postcontent.hidden
input(type='hidden',name='from',value=showingfrom)
input(type='hidden',name='to',value=showingto)