extends layout

block scripts
	script
		$(document).ready(function(){
			$('.newpost :empty').hide();
			});

block stylesheet
	link(rel='stylesheet', href='/stylesheets/postview.css')

block content
	include navbar
	.container
		-if (!item.acti)
			h1
				| 该贴未被激活，不会被搜索功能包含，请用我们发送至您邮箱的链接激活该贴。
		.tunebar
			form.newpost
				fieldset
					legend 基本信息
					div
						label 标题：
						span.sibox
							| #{item.title}
					div
						label 价格：
						span.sibox
							| #{item.price}
					div
						label 标签：
						span.sibox
							-for (var i = 0; i < item.tags.length; i++)
								a.tag(href='/tag/#{item.tags[i]}')
									| ##{item.tags[i]}
					div
						label 发布日期：
						span.sibox
							| #{item.date.toDateString()}
					div
						label 给TA发邮件：
						span.sibox
							-var mailargs = 'subject=RE:'+encodeURIComponent(item.title)+'&body=http://www.checkcheck.us/post/'+item._id
							a(href='mailto:#{item.email}?'+mailargs) #{item.email}
					div
						label 手机号：
						span.sibox
							| #{item.cellnum}
				fieldset
					legend 内容
					textarea(rows='10',cols='50',readonly='readonly')
						| #{item.content}
					-if(item.hasimg)
						div
							img.ip(src='/img/#{item._id}',width='50%')
			include disqus
